<div class="limiter">
	<div class="container-billItem100">		
		<div class="container">		    
		    <div class="row">
		    	<div class="col col-12">
		    		<img src="./assets/images/logout1.png" class="backButtonCss" title="LogOut" (click)="logOut();">
		         	<div class="box-part text-center">
			            <div class="project prjHed">  
		                    <span class="headerDashB">Dashboard</span>
		                    
			            </div>
		            </div>
		        </div>		       
		    </div>    
		    <div class="row">
		        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
		         	<div class="box-part text-center">
			            <div class="project">
			                <figure class="img-responsive" (click)="goTo('addItem');">
			                    <img src="./assets/images/add-item.png">
			                    <span class="actions">
			                        <span class="project-details">Add Item</span>
			                    </span>
			                </figure>
			            </div>
		            </div>
		        </div>		        	        
		        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
		         	<div class="box-part text-center">
			            <div class="project">
			                <figure class="img-responsive" (click)="goTo('editItem');">
			                    <img src="./assets/images/edit-item.png">
			                    <span class="actions">
			                        <span class="project-details">Edit Item</span>
			                    </span>
			                </figure>
			            </div>
		            </div>
		        </div>
		        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
		         	<div class="box-part text-center">
			            <div class="project">
			                <figure class="img-responsive" (click)="goTo('infonTax');">
			                    <img src="./assets/images/info.png">
			                    <span class="actions">
			                        <span class="project-details">Shop Info / Taxes</span>
			                    </span>
			                </figure>
			            </div>
		            </div>
		        </div>	        		       
		    </div>
		    <div class="row">
		        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
		            <div class="box-part text-center">
			            <div class="project">
			                <figure class="img-responsive" (click)="goTo('addUser');">
			                   <img src="./assets/images/add-user.png">
			                    <span class="actions">
			                        <span class="project-details">Add User</span>
			                    </span>
			                </figure>
		            	</div>
		            </div>
		        </div>		        		        
		        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
		            <div class="box-part text-center">
			            <div class="project">
			                <figure class="img-responsive" (click)="goTo('editUser');">
			                    <img src="./assets/images/edit-user.png">
			                    <span class="actions">
			                       <span class="project-details">User's List</span>
			                    </span>
			                </figure>
			            </div>
		            </div>
		        </div>
		        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
		            <div class="box-part text-center">
			            <div class="project">
			                <figure class="img-responsive" (click)="goTo('sales');">
			                   <img src="./assets/images/sales.png">
			                    <span class="actions">
			                        <span class="project-details">Sales</span>
			                    </span>
			                </figure>
		            	</div>
		            </div>
		        </div>		    	    
		    </div>
		</div>
	</div>
</div>